.App {
  display: grid;
  grid-template-columns: minmax(256px, 1fr) 3fr;
  grid-template-rows: 2fr 1fr;
  height: 100vh;
  border: 1px var(--color-border) solid;
}

.LeftPanel {
  grid-column: 1;
  grid-row: 1 / 3;
  border: inherit;
  display: flex;
  flex-direction: column;
}

.TopPanel {
  grid-column: 2;
  border: inherit;
}

.BottomPanel {
  grid-column: 2;
  border: inherit;

}

.Menu {
  padding: 1em;
  text-align: center;
  border: 2px var(--color-border) solid;
  border-bottom-width: 4px;
}

.InstanceCard {
  position: relative;
  padding: 4px;
  border: 2px transparent solid;
  border-bottom-color: var(--color-border);
  font-size: 14px;
}

.InstanceCard:hover {
  border-color: var(--color-active);
}

.CloseButton {
  color: red;
	user-select: none;
	cursor: pointer;
}

.CloseButton:hover {
  color: var(--color-active);
}