.App {
  display: grid;
  grid-template-columns: minmax(196px, 1fr) 3fr;
  min-height: 100vh;
}

@media (max-width: 1250px) {
  .Earth {
    min-width: 100%;
    height: 1px;
  }
}
@media (min-width: 1280px) {
  .TopPanel {
   display: flex;
   justify-content: left;
  }
  .App {
    max-height: 100vh;
  }
  .LeftPanel {
    height: 100vh;
  }
  .Earth {
    flex-grow: 1;
    max-width: 720px;
  }
}

.LeftPanel {
  grid-column: 1;
  border: 2px var(--color-border) solid;
  display: flex;
  flex-direction: column;
}

.RightPanel {
  grid-column: 2;
  border: 2px var(--color-border) solid;
  border-left-width: 0;
}

.Menu {
  padding: 1em;
  text-align: center;
  border: 2px var(--color-border) solid;
  border-bottom-width: 4px;
}

.InstanceCard {
  cursor: pointer;
  position: relative;
  padding: 4px;
  border: 2px transparent solid;
  border-bottom-color: var(--color-border);
  font-size: 14px;
}

.InstanceCard:hover {
  border-color: var(--color-active);
}

.CloseButton {
  color: red;
	user-select: none;
	cursor: pointer;
}

.CloseButton:hover {
  color: var(--color-active);
}