.Settings {
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.settingsLine {
	position: relative;
	display: inline-flex;
	gap: 2em;
}

.input {
	display: inline-block;
	position: relative;
}

.footer {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: -1.3em;
	font-size: 12px;
	color: var(--color-text-dark);
}

input, button, select {
	text-align: center;
	border: 1px var(--color-border) solid;
	border-radius: 4px;
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	outline: none;
}

input:focus-visible, button:focus-visible, select:focus-visible {
	border: 1px var(--color-active) solid;
}